html {
    font-size: 62.5%;
}
body {
    font-size: 1.4em;
}

.myAll {
    height: calc(100% - 80px);
}
.ng-scope {
    height: 100%;
}
.ui-grid, .ui-grid-viewport {
    width: 100%;
    //height: calc(100% - 80px); !important;
}

.ui-grid-header-cell {
    text-align: center;
}
//.ui-grid-cell-contents {
//    text-align: center !important;
//}

.grid-date {
   // font-size: 11px;
}
.grid-numbers {
    text-align: right;
}